div.background{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    padding: 10px;

    width:400px;
    height:475px; 
    background-color:lightgrey;
}
button.num{
    width:70px;
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}
button.clear{
    width:70px;
    background-color: red;
    color: white;
    font-size:50px;
    margin-left: 20px;
}
button.op{
    width:70px;
    background-color: black;
    color: white;
    font-size:50px;
    margin-left: 20px;
}
#textbox{
    height: 70px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 50px;
    text-align:right;
}